/* Shared/ Common styles for all pages in the portfolio */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575
    text-align: center;
    font-size: 18px;
}

/* Nav related styles here  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}


/* header related styles here */
.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    /* width: 100vw; */
}

.banner {
    padding: 30px 20px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 800px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 50px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-text {
    font-size: 25px;
    color: #474747;
    margin-bottom: 20px;
}

/* Main section related styles here */
main {
    max-width: 1140px;
    /* The folloowing two margin properties will center the main section */
    margin: 0 auto;
}

/* About related styles here */
.about {
    padding: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info-text {
    font-size: 14px;
    color: #474747;
    margin-bottom: 20px;
}

/* Skills related styles here */
#skill-description {
    padding: 30px 150px;
}

.skill-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.skill-text {
    font-size: 18px;
    color: #474747;
    margin-bottom: 20px;
}

.skill-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.skill-progress {
    width: 100%;
    height: 20px;
    background: #EAEAEA;
    border-radius: 10px;
}

/* Projects related styles here */
